body,html {
    background-color: #001f3f;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #001f3f;
}
a:hover {
    text-decoration: underline;
}
.menu {
    color: #001f3f;
    background-color: whitesmoke;
    border-radius: 8px;
    flex-grow: 1;
    padding: 16px 32px;
    margin: 16px;
}
.menu-item {
    padding: 8px;
    border-radius: 8px;
    margin: 8px 4px;
}
.heading {
    text-align: center;
    color: whitesmoke;
}